html {
  scroll-behavior: smooth;
}
  
body {
  color: $dark;
  margin: 0;
  font-size: 16px;
  font-family: Apple Chancery, cursive;

  @media (min-width: $desktop-breakpoint) {
    font-size: 18px;
  }
}
  
.container {
  width: auto;
  margin: 20px auto;

  @media (min-width: $desktop-breakpoint) {
    max-width: 90%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
  